{% extends "base.html" %}

{% block title %} Instrucciones {% endblock %}

{% block content %}

    <h1>Instrucciones</h1>
    <div>
        <body>
            <p> </p>
            <h2>Se debe de seguir las siguientes Instrucciones para el uso correcto de está página.</h2>
            <ol>
                <li>Cargar archivo</li>
                <li>Presionar botón de envio</li>
                <li>Dirigirse a peticiones</li>
                <li>Seleccionar cualquiera de las distintas opciones</li>
                <li>Regresar a inicio</li>
                <li>Presionar reset</li>
            </ol>
            <p> Si se desea, se puede acceder al menú ayuda, el cual cuenta con la información del estudiante y el enlace al repositorio en Github</p>
        </body>
        
    </div>
    

{% endblock %}